.result {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  border-radius: 15px;
  .location {
    color: var(--ink-lighter, #72777a);
  }
}
.result:hover {
  background: rgba(79, 117, 194, 0.21);
}
.border-bottom {
  width: 100%;
  background: #7E7E7E;
  height: 1px;
}
