.home-container{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .search-area{
    display: flex; 
    align-items: center;  
    justify-content: center; 
    gap: 10px;
    width: 80%;
    margin: 0 auto;
    
    label{
      flex-basis: 70%;
      border: 1px solid black;
      border-radius: 10px;
      display: flex;
      align-items: center;      
      width: 100%;
      padding: 5px;
     
      
    }
  }
  .filler{
    min-height: 350px;
    padding: 1rem;
    margin-top: 1rem;
  
  }

}

@media(max-width:400px){
  .search-area{
    flex-direction: column;
    
  }
}