@import '../../colors.scss';
.footer{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: $secondary-color;
  padding: 1rem;
  .footer-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 5px;
    max-width: 500px;
    p{
      
    }
    a{
      margin-left: 5px;
      color: white;
    }
  }
  iframe{
    margin-top: 1rem;
    width: 500px;
    height: 300px;
    
  }
}